// Colors
$color-primary: #086879;
$color-primary-light: #3a99aa;
$color-primary-dark: #013F4A;

$color-secondary-light: #32A34B;
$color-secondary-dark: #005B14;

$color-tertiary-light: #D85143;
$color-tertiary-dark: #780B00;

$color-gray-light-1: #FEFBFA;
$color-gray-light-2: #eee;

$color-grey-dark: #777;
$color-gray-dark-2: #999;
$color-gray-dark-3: #001B26;

$color-white: #fff;
$color-black: #000;

// Font
$default-font-size: 1.6rem;


// Grid
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-vertical-smallest: 4rem;
$gutter-horizontal: 6rem;